.register{
    width: 100%;
    height: 100vh;
}

.column{
    height: 100vh;

}

.register-heading{
    font-size: 40px;
    font-weight: bold;
}

.col-left{
    border-left: 1px solid black;
}

.btn-register{
    background-color: black;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
}

.input-register{
    border: none;
    outline: none;
}